@page "/contactus";

<PageTitle>Contact Us</PageTitle>

<div class="email-form">
    <h2>Contact Us</h2>
    <div class="emial-form-section">
        <p>Title</p>
        <input style="width: 50%" type="text" />
    </div>
    
    <div class="emial-form-section">
        <p>Contents</p>
        <textarea class="email-contents"></textarea>
    </div>
    
    <div class="emial-form-section">
        <button class="email-button" @onclick=SendEmail>Send Email</button>
    </div>
</div>

<style>
    .email-form {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .emial-form-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .email-contents {
        height: 300px;
    }

    .email-button {
        width: 160px;
        align-self: flex-end;
    }
</style>

@code {
    private void SendEmail()
    {
        // TODO: Write code to send email to galaticostudios@gmail.com or other email addresses
        //       If the user wants to include an email for a response, they can include it in the
        //       email contents.
    }
}