@page "/contactus";

<PageTitle>Contact Us</PageTitle>

<h1>Contact Us</h1>
<hr>

<div class="email-form">
    <div class="emial-form-section">
        <p>Title</p>
        <input type="text" class="email-input" />
    </div>
    
    <div class="emial-form-section">
        <p>Contents</p>
        <textarea class="email-contents email-input"></textarea>
    </div>
    
    <div class="emial-form-section" style="justify-content: flex-end;">
        <button class="email-button" @onclick=SendEmail>Send Email</button>
    </div>
</div>

<style>
    .email-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .emial-form-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        max-width: 1200px;
    }

    .emial-form-section p {
        width: 20%;
    }

    .email-contents {
        resize: none;
        width: 80%;
        height: 300px;
    }

    .email-button {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background-color: rgb(75, 75, 75);
        color: white;
    }

    .email-button:hover {
        background-color: rgb(100, 100, 100);
        cursor: pointer;
    }

    .email-input {
        border: none;
        border-radius: 4px;
        background-color: rgb(75, 75, 75);
        color: white;
    }
</style>

@code {
    private void SendEmail()
    {
        // TODO: Write code to send email to galaticostudios@gmail.com or other email addresses
        //       If the user wants to include an email for a response, they can include it in the
        //       email contents.
    }
}