@page "/"

@inject IJSRuntime JS;

<PageTitle>Galatico Studios</PageTitle>

<h1>Our Games</h1>
<hr>

<div class="all-games">
    @foreach (Game game in AllGames)
    {
        <div class="game-container">
            <h2>@game.Title</h2>
            
            <div class="game-contents">
                <div class="description-and-button">
                    <p class="game-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button class="game-button" @onclick='() => OpenURL(game.Url)'>@game.UrlText</button>
                </div>
                <iframe width="500" height="300" src=@game.Url title="Galatico Gameplay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </div>
    }
</div>

<style>
    .all-games {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-and-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
    }

    .game-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 1200px;
        width: 100%;
    }

    .game-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
    }

    .game-description {
        text-align: justify;
        text-justify: inter-word;
    }

    .game-button {
        width: 150px;
        height: 50px;
        align-self: center;
        border: none;
        border-radius: 8px;
        background-color: rgb(75, 75, 75);
        color: white;
    }

    .game-button:hover {
        background-color: rgb(100, 100, 100);
        cursor: pointer;
    }
</style>

@code {
    public struct Game
    {
        public string Title { get; set; }
        public string Description { get; set; }
        public string Url { get; set; }
        public string UrlText { get; set; }
    }

    private List<Game> AllGames = new List<Game>()
    {
        new Game
        {
            Title = "Galatico",
            Description = "Galatico is a first person shooter set in the future with portals.",
            Url = "https://www.youtube.com/embed/iOm-K8WUV5E?si=vTa4DB7KuE80z9ku",
            UrlText = "Wishlist On Steam"
        },
        new Game
        {
            Title = "Loga Culture",
            Description = "Loga Culture is a game about a place with rocks.",
            Url = "https://www.youtube.com/embed/iOm-K8WUV5E?si=vTa4DB7KuE80z9ku",
            UrlText = "Android or iOS?"
        }
    };

    private async void OpenURL(string url)
    {
        await JS.InvokeVoidAsync("openInNewTab", url);
    }
}