@page "/"

@inject IJSRuntime JS;

<PageTitle>Galatico Studios</PageTitle>

<h1>Our Games</h1>
<hr>

<div class="all-games">
    @{
        int index = 0;
    }
    @foreach (Game game in AllGames)
    {
        string reverse = index % 2 == 0 ? "flex-direction: row-reverse;" : "";

        <div class="game-container">
            <h2>@game.Title</h2>
            <div class="game-contents" style=@reverse>
                <div class="description-and-button">
                    <p class="game-description">@game.Description</p>
                    <button class="game-button" @onclick='() => OpenURL(game.Url)'>@game.UrlText</button>
                </div>
                <iframe width="500" height="300" src="@game.Url" title="Galatico Gameplay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        index++;
    }
</div>


<style>
    .all-games {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .description-and-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
    }

    .game-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 1200px;
        width: 100%;
    }

    .row-reverse {
        flex-direction: row-reverse;
    }

    .game-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
    }

    .game-description {
        text-align: justify;
        text-justify: inter-word;
    }

    .game-button {
        width: 150px;
        height: 50px;
        align-self: center;
        border: none;
        border-radius: 8px;
        background-color: rgb(75, 75, 75);
        color: white;
    }

    .game-button:hover {
        background-color: rgb(100, 100, 100);
        cursor: pointer;
    }
</style>

@code {
    public struct Game
    {
        public string Title { get; set; }
        public string Description { get; set; }
        public string Url { get; set; }
        public string UrlText { get; set; }
    }

    private List<Game> AllGames = new List<Game>()
    {
        new Game
        {
            Title = "Galatico",
            Description = "In the distant future, under the suffocating rule of Galatico, a corporate titan that manipulates the cosmos through its stranglehold on interstellar travel and planetary exploitation, the tale of a fierce uprising begins. A solitary figure known only as Agent emerges from the shadows, their sole aim to dismantle the empire's draconian empire.",
            Url = "https://www.youtube.com/embed/iOm-K8WUV5E?si=vTa4DB7KuE80z9ku",
            UrlText = "Wishlist On Steam"
        },
        new Game
        {
            Title = "Loga Culture",
            Description = "The player plays as a 1930's Arachnologist who is uncovering the stories of 4 different stones. This will be an AR experience that goes through different ages in order to uncover the stories of each one",
            Url = "https://www.youtube.com/embed/iOm-K8WUV5E?si=vTa4DB7KuE80z9ku",
            UrlText = "Android or iOS?"
        }
    };

    private async void OpenURL(string url)
    {
        await JS.InvokeVoidAsync("openInNewTab", url);
    }
}