@page "/privacy-policy"

<PageTitle>Privacy Policy</PageTitle>

<h1>Privacy Policy</h1>
<hr>

<p>
We do not use cookies.
</p>

<p>
The form on the <a href="/contact-us">contact us page</a> generates an
email that is then sent to our company email address(s). Any information you provide here
we will hold on to until you ask us to delete it. 
</p>