@page "/privacy-policy"

<PageTitle>Privacy Policy</PageTitle>

<h1>Privacy Policy</h1>
<hr>

<p>We respect your privacy and are committed to protecting your personal information.</p>

<h3>Cookies</h3>
<p>We do not use cookies to track or store information about your browsing activity on our website.</p>

<h3>Contact Form</h3>
<p>
    When you submit a form on our <a href="/contact-us">contact us page</a>, the information you provide is sent directly to our company email address(es). 
    We will retain this information securely and only for the purposes of responding to your inquiry. 
    You may request the deletion of your data at any time by contacting us, and we will comply with your request promptly.
</p>
